
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Profiles</h2>


<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User Type</th>
    </tr>


    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.UserType</td>

    </tr>




</table>